/* all ipmorted fonts */
@font-face {
    font-family: RoundedBold;
    src: url(M_PLUS_Rounded_1c/MPLUSRounded1c-Bold.ttf)
}
@font-face {
    font-family:RoundedRegular;
    src: url(M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf)
}
@font-face {
    font-family: PottaOne;
    src: url(Potta_One/PottaOne-Regular.ttf);
} 
/* fonts */
header, #largefont {
    font-family: PottaOne;
}
#roundbold {
    font-family: RoundedBold;
}
#roundregular, footer {
    font-family: RoundedRegular;
}
/* font sizing */
#largesize {
    font-size: 20px;
}
#smallerheader {
    font-size: 17px;
}
#largestsize {
    font-size: 34px;
}
#smallsize {
    font-size: 16px;
}
#contactsize {
    font-size: 24px;
} 
footer {
    font-size: 9px;
}
/* contact me bullet point color */
li::marker {
    color: var(--body-text-color);
}
/* center the header and footer, make sticky */
header {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
main {
    padding-bottom: 20px;
}
footer {
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    position: relative;
}
/* display icon positioning and header positioning */
.header-flex-container {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: var(--header-color);
    width: 730px;
    height: 60px;
}
.header-icon {
    height: 75px;
}
/* get rid of underline on page linkes */
.header a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}
/* about page cat image overlap with text 
.about-image-container {
    display: block;
    z-index: 2;
} */
#about-main {
    padding-top: 25px;
}
#about-cat {
    position: relative;
    z-index: 5;
    margin-top: -200px; 
    margin-left: 153px;
}
.lightmode #about-cat {
    position: relative;
    z-index: 5;
    margin-top: -167px;
    margin-left: 153px;
}
#about-text-container {
    margin-top: -160px;
}
.lightmode #about-text-container {
    margin-top: -160px
}
/* about page headshot positioning */
.headshot-image {
    margin-top: -15px;
    margin-left: 590px;
    z-index: -1;
}
#light-headshot {
    margin-top: -10px;
    margin-left: 607px;
}
/* contact page image line up with text top */
#contact-cat {
    margin-left: 350px;
    margin-bottom: -400px;
}
#contact-text {
    margin-top: -20px;
}
/* 3d model */
#model3d {
    width: 48vw;
    height: 48vh;  
    margin: 0 auto;
    text-align: center;
    background: transparent;
}
/* dark and light mode display */
:root {
    --base-color: #222222;
    --body-text-color: white;
    --footer-text-color: #5a5a5a;
    --header-color: rgb(34, 34, 34, 0.95);
}
body {
    background-color: var(--base-color);
    color: var(--body-text-color);
}
header {
    background-color: var(--base-color);
    color: var(--body-text-color);
}
footer {
    background-color: var(--base-color);
    color: var(--footer-text-color)
}
.lightmode {
    --base-color: #f5f2f2;
    --body-text-color: #222222;
    --footer-text-color: #a8a8a8;
    --header-color: rgb(245, 242, 242, 0.95);
}
#theme-switch {
    height: 50px;
    width: 50px;
    background: transparent;
    border: none;
    cursor: pointer;
}
#theme-switch :last-child{
    display: none;
}
.lightmode #theme-switch :first-child {
    display: none;
}
.lightmode #theme-switch :last-child{
    display: block;
}
#image-switch {
    background: transparent;
    border: none;
}
#image-switch :last-child{
    display: none;
}
.lightmode #image-switch :first-child {
    display: none;
}
.lightmode #image-switch :last-child{
    display: block;
}
#dropdown-switch {
    background: transparent;
    border: none;
}
#dropdown-switch :last-child {
    display: none;
}
.lightmode #dropdown-switch :first-child {
    display: none;
}
.lightmode #dropdown-switch :last-child {
    display: block;
}
/* decrease left and right padding as browser size decreases horizontally, 330px = 22.92vw */
body {
    padding-left: calc(22.92vw + (330px - 22.92vw));
    padding-right: calc(22.92vw + (330px - 22.92vw));
}

@media (max-width: 1440px) {
    body {
        padding-left: calc(330px - ( (1440px - 100vw) / 2 ));
        padding-right: calc(330px - ( (1440px - 100vw) / 2 ));
    }
}


/* dropdown menu styling */
.dropdown * {
    box-sizing: border-box;
}
.select {
    display: flex;
    cursor: pointer;
}
.menu {
    list-style: none;
    padding: 0.2em 0.5 em;
    background: #5a5a5a;
    border: 1px #515151 solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    z-index: 5
}
.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu-open {
    display: block;
    opacity: 1;
}