/* all ipmorted fonts */
@font-face {
    font-family: RoundedBold;
    src: url(M_PLUS_Rounded_1c/MPLUSRounded1c-Bold.ttf)
}
@font-face {
    font-family:RoundedRegular;
    src: url(M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf)
}
@font-face {
    font-family: PottaOne;
    src: url(Potta_One/PottaOne-Regular.ttf);
} 
/* fonts */
header, #largefont {
    font-family: PottaOne;
}
#roundbold {
    font-family: RoundedBold;
}
#roundregular, footer {
    font-family: RoundedRegular;
}
/* font sizing */
#largesize {
    font-size: 20px;
}
#smallerheader {
    font-size: 17px;
}
#largestsize {
    font-size: 34px;
}
#smallsize {
    font-size: 16px;
}
#contactsize {
    font-size: 24px;
} 
footer {
    font-size: 9px;
}
/* contact me bullet point color */
li::marker {
    color: var(--body-text-color);
}
/* center the header and footer, make sticky */
header {
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 10;
}
main {
    padding-bottom: 20px;
}
footer {
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    position: relative;
}
/* display icon positioning and header positioning */
.header-flex-container {
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    background-color: var(--header-color);
    width: 730px;
    height: 60px;
}
.header-icon {
    height: 75px;
}
/* get rid of underline on page linkes */
.header a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}
/* about page cat image overlap with text */
.about-image-container {
    display: inline-block;
}
#about-cat {
    position: absolute; 
    top: 70px; 
    left: 492px;
}
#about-main {
    padding-top: 45px;
    z-index: -2;
}
/* about page headshot positioning */
#headshot-image {
    position: absolute;
    top: 85px;
    right: 305px;
    z-index: -1;
}
/* contact page image line up with text */
#contact-cat {
    position: absolute;
    top: 160px;
    left: 680px;
}
/* 3d model */
#model3d {
    width: 48vw;
    height: 48vh;  
    margin: 0;
    text-align: center;
    background: transparent;
}
/* dark and light mode display */
:root {
    --base-color: #222222;
    --body-text-color: white;
    --footer-text-color: #5a5a5a;
    --header-color: rgb(34, 34, 34, 0.95);
}
body {
    background-color: var(--base-color);
    color: var(--body-text-color);
}
header {
    background-color: var(--base-color);
    color: var(--body-text-color);
}
footer {
    background-color: var(--base-color);
    color: var(--footer-text-color)
}
.lightmode {
    --base-color: #f5f2f2;
    --body-text-color: #222222;
    --footer-text-color: #a8a8a8;
    --header-color: rgb(245, 242, 242, 0.95);
}
#theme-switch {
    height: 50px;
    width: 50px;
    background: transparent;
    border: none;
}
#theme-switch :last-child{
    display: none;
}
.lightmode #theme-switch :first-child {
    display: none;
}
.lightmode #theme-switch :last-child{
    display: block;
}
#image-switch {
    background: transparent;
    border: none;
}
#image-switch :last-child{
    display: none;
}
.lightmode #image-switch :first-child {
    display: none;
}
.lightmode #image-switch :last-child{
    display: block;
}
/* decrease left and right padding as browser size decreases horizontally */
body {
    padding-left: 330px;
    padding-right: 330px;
}