/* all ipmorted fonts */
@font-face {
    font-family: RoundedBold;
    src: url(M_PLUS_Rounded_1c/MPLUSRounded1c-Bold.ttf)
}
@font-face {
    font-family:RoundedRegular;
    src: url(M_PLUS_Rounded_1c/MPLUSRounded1c-Regular.ttf)
}
@font-face {
    font-family: PottaOne;
    src: url(Potta_One/PottaOne-Regular.ttf);
} 
/* fonts */
header, #largefont {
    font-family: PottaOne;
}
#roundbold {
    font-family: RoundedBold;
}
#roundregular, footer {
    font-family: RoundedRegular;
}
/* font sizing */
#largesize {
    font-size: 20px;
}
#smallerheader {
    font-size: 18px;
}
#largestsize {
    font-size: 34px;
}
#smallsize {
    font-size: 16px;
}
#contactsize {
    font-size: 24px;
} 
footer {
    font-size: 9px;
}
/* contact me bullet point color */
li::marker {
    color: white;
}
/* center the header and footer, make sticky */
header {
    text-align: center;
    position: sticky;
    top: 0;
}
main {
    padding: 20px;
}
footer {
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    position: relative;
    max-height: 90%
}
body {
    padding-left: 330px;
    padding-right: 330px;
}
/* display icon positioning and header positioning */
#displayimage {  
    margin: 0 30px 0 0;
}
#headertext {
    margin-top: 0
}
.header-flex-container {
    padding-left: 15px;
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(34, 34, 34, 0.8);
    z-index: 10;
}
/* get rid of underline on page linkes */
.header a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}
/* about page cat image overlap with text */
.about-image-container {
    display: inline-block;
}
.about-text-container {
    z-index: 1;
}
#about-cat {
    position: absolute; 
    z-index: 2; 
    top: 85px; 
    left: 512px;
}
#about-header {
    z-index: 10;
}
#about-main {
    padding-top: 45px;
}
/* about page headshot positioning */
#headshot-image {
    position: absolute;
    top: 85px;
    right: 330px;
}
/* contact page image line up with text */
#contact-cat {
    position: absolute;
    top: 160px;
    left: 680px;
}
/* 3d model */
#model3d {
    width: 48vw;
    height: 48vh;  
    margin: 0;
    text-align: center;
}